/* body{
    margin: 0;
    background: teal;
}

.container{
    margin: 5% 25% 25% 25%;
}
 */
/* input[type="text"], input[type="email"] ,input[type="password"], select {
    padding: 10px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white; */
    /* position: relative;
    left: 1px; */
/* } */

/* .user-id input[type="text"]{
    position: relative;
    left: 20px;
}

.password input[type="password"]{
    position: relative;
    left: 5px;
}

.name input[type="text"]{
    position: relative;
    left: 30px;
}

.address input[type="text"]{
    position: relative;
    left: 15px;
}

.country select{
    position: relative;
    left: 15px;
}

.zip-code input[type="text"]{
    position: relative;
    left: 10px;
}

.email input[type="email"]{
    position: relative;
    left: 30px;
}

.radios .radio-button{
    position: relative;
    left: 38px;
}

form div{
    padding: 2px;
} */

/* label{ */
    /* the position: relative; and the right: 80px; makes the labels push away a bit from the fields */
    /* position: relative; */
    /* right: 30px;
    color: white;
    font-size: 16px;
}

textarea{
    padding: 10px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

input[type="submit"] {
    color: white;
    font-size: 20px;
    border-radius: 2px;
    border: 1px solid whitesmoke;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.5);
    background-color: green;

} */


/* giving the body a black background color */
body{
    background: black;
}

/* styling the main div that encloses the form */
.container{
    margin: 20px auto;
    width: 50%;
    background-color: teal;
    padding: 30px;
}

/* styling the labels */
label{
    margin: 7px;
    width: 70px;
    display: inline-block;
    text-align: right;
}

/* styling the textarea */
label[for='text-area']{
    vertical-align: top;
}

/* styling the input fields */
input[type="text"], input[type="email"] ,input[type="password"], select, textarea{
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
}

/* styling the submit button */
input[type="submit"] {
    color: white;
    font-size: 20px;
    border-radius: 2px;
    border: 1px solid whitesmoke;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.5);
    background-color: green;

}
